--=====================================
-- > Name: Saif-Ur-Rehman
-- > Registration Number: 0407241-3045 
-- > Semester: 4th (Morning)
-- > Project: Library Managment System
--=====================================

CREATE DATABASE [UniversityLibrary]
 -- 1. Build the Tables
CREATE TABLE [dbo].[Books](
	[Book_ID] [int] NOT NULL PRIMARY KEY,
	[Title] [varchar](60) NULL,
	[Author] [varchar](50) NULL,
	[Publisher] [varchar](50) NULL,
	[Edition] [varchar](20) NULL,
	[Category] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Available_Quantity] [int] NULL
);

CREATE TABLE [dbo].[Students](
	[Student_ID] [int] NOT NULL PRIMARY KEY,
	[Name] [varchar](30) NULL,
	[Department] [varchar](50) NULL,
	[Semester] [int] NULL,
	[Phone] [varchar](13) NULL,
	[Email] [varchar](100) NULL
);

CREATE TABLE [dbo].[Issue_Record](
	[Issue_ID] [int] NOT NULL PRIMARY KEY,
	[Student_ID] [int] NULL FOREIGN KEY REFERENCES Students(Student_ID),
	[Book_ID] [int] NULL FOREIGN KEY REFERENCES Books(Book_ID),
	[Issue_data] [date] NULL,
	[Due_Date] [date] NULL
);

CREATE TABLE [dbo].[Return_Record](
	[Return_ID] [int] NOT NULL PRIMARY KEY,
	[Issue_ID] [int] NULL FOREIGN KEY REFERENCES Issue_Record(Issue_ID),
	[Return_Date] [date] NULL,
	[Fine_Amount] [decimal](10, 2) NULL
);
GO

-- 2. Insert the Data
INSERT [dbo].[Books] VALUES 
(345, 'C++ Programming', 'Bjarn Stranstroup', 'Sunshine Academy', '9th', 'Computer', 100, 23),
(455, 'Python Programming', 'Saif Rehman', 'GOAT Publishers', '12th', 'Computer', 100, 12),
(555, 'Rust Programming', 'Dr.Jan Muhammad', 'QUST Books', '5th', 'Computer', 100, 83);

INSERT [dbo].[Students] VALUES 
(23, 'Dileep Singh', 'Computer Science', 4, '0300-6543564', 'Dillu@gmail.com'),
(45, 'Saif-Ur-Rehman', 'Computer Science', 4, '0300-4564564', 'saif@gmail.com'),
(87, 'Ahsan Rehman', 'Enviromental Science', 3, '0300-7643564', 'Ahsan@gmail.com');

INSERT [dbo].[Issue_Record] VALUES 
(90, 45, 345, '2026-04-26', '2026-05-26'),
(91, 23, 555, '2026-02-05', '2026-03-05'),
(92, 87, 455, '2026-04-30', '2026-05-30');

INSERT [dbo].[Return_Record] VALUES 
(80, 92, '2026-03-23', 450.00);
GO

-- 3. Create the Views
CREATE VIEW Student_Book_View AS
SELECT Title, Author, Category, Edition, Available_Quantity
FROM dbo.Books
WHERE Available_Quantity > 0;
GO

CREATE VIEW Librarian_Issue_View AS
SELECT i.Issue_ID, s.Name AS Student_Name, b.Title AS Book_Title, i.Issue_data, i.Due_Date
FROM dbo.Issue_Record i
JOIN dbo.Students s ON i.Student_ID = s.Student_ID
JOIN dbo.Books b ON i.Book_ID = b.Book_ID;
GO

CREATE VIEW Admin_Financial_Report AS
SELECT r.Return_Date, s.Name AS Student_Name, b.Title AS Book_Title, r.Fine_Amount
FROM dbo.Return_Record r
JOIN dbo.Issue_Record i ON r.Issue_ID = i.Issue_ID
JOIN dbo.Students s ON i.Student_ID = s.Student_ID
JOIN dbo.Books b ON i.Book_ID = b.Book_ID
WHERE r.Fine_Amount > 0;
GO

SELECT * FROM Students